*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex; /*Use for taking all div's in the same line which are under in this div*/
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/*Box two*/
.deliver{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.country{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/*Box Three*/
.nav-search{
    display: flex;
    background-color: #61a1a1;
    width: 620px;
    height: 40px;
    border-radius: 3px;
    justify-content: space-evenly;
    border: 2.5px solid transparent;
}
.nav-search:hover{
    border: 2.5px solid orange;
}
.search-select{
    text-align: center;
    background-color: #f3f3f3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px ;
    color: #0f1111;
}
/*Box four and Box five*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/*Box Six*/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
font-size: 0.90rem;
font-weight: 700;
}
/*Pannel*/
.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.All{
    margin-left: -35px;
}
.all{
    font-size: 15px;
    margin-left:2px ;
}
.pannel-ops p{
    display: inline;
    margin-left: 15px;
}
.pannel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/*Hero pannel*/
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-message{
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 25px;
}
.hero-message a{
    color: #007185;
    text-decoration: none;
}
/*Shop Section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
   /* border: 1px solid black;*/
    height: 400px;
    width: 23%;
    background-color:white;
    padding: 20px 0px 15px;
    margin-top: 14px;
    font-size: 10px;
}
.box-image{
    height: 335px;
    margin-top: 1rem;
    margin-top: 1rem;
    background-size: cover;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
    padding-top: 5px;
   
}
/*Footer pannel 1*/
footer{
    margin-top: 15px;
}
.foot-pannel0{
    border: 1px solid gray;
    margin-top: 40px;
    margin-bottom: 15px;
    height: 85px;
    padding-top: 45px;
    width: 100%;
    border-radius: 4px;
}
.text1{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.80rem;
}
.submit{
   margin:auto 630px;
    height: 25px;
    width: 210px;
    color:black;
    background-color:#fe9306;
    border-radius: 4.5px;
   border: none;
   font-weight: 600;
   font-size: 0.75rem;
   margin-top: 5px;
}
.text2{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    margin-top: 5px;
}
.text2 a{
    text-decoration: none;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 49px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 a{
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
    display: block;
}
ul p{
    margin-top: 35px;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 0.4px solid #dddddd;
    height: 80px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    width: 100%;
}
.logo2{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100px;
    margin-left: 430px;
    margin-top: 11px;
}
.foot-panel4{
    background-color: #0f1111;
    height: 80px;
    color: white;
    font-size: 0.7rem;
    padding-top: 5px;
}
.pages{
    font-size: 0.7rem;
    padding-top: 25px;
    text-align: center;
}
.pages a{
    text-decoration: none;
    color: white;
}
.copyright{
    text-align: center;
}
.foot-panel4 i{
    padding-left: 1388px;
    padding-top: 5px;
    font-size: 0.82rem;
}